:root {
    --background-color: #ffffff;
    --nav-background: #20b2aa;
    --font-color: #000;
    --button: #116966;
    --submit: #085857;
    --show-hide: #007775;
    --dark-bg: #051b1b;
    --dark-nav: #215050;
    --dark-button: #0f4d4d;
    --dark-input: #383d3d;
    --white-for-darkmode: #EDEDED;
}

#dark {
    background-color: var(--dark-bg);
}

#dark nav {
    background-color: var(--dark-nav);
    color: var(--white-for-darkmode);
    font-weight: 800;
}

#dark nav a {
    color: var(--white-for-darkmode);
}

* {
    font-family: sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

nav > h1 {
    margin: 0;
    font-size: 1.5rem;
}

nav {
    background-color: #20b2aa;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* width: 100vw; */
}

nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 25vw;
}

@media only screen and (max-width: 480px) {
    nav > ul {
        width: 70vw;
    }
} 

@media only screen and (max-width: 768px) {
    nav > ul {
        width: 50vw;
    }
} 

button.log-in-with-google {
    padding: 30px;
    font-size: 1.3rem;
    border-radius: 12px;
    border: 0;
    background-color: #116966;
    color: var(--white-for-darkmode);
    font-weight: 800;
    letter-spacing: 2px;
    box-shadow: 1px 3px 15px rgb(0 0 0 / 0.5);
}

button.log-in-with-google:hover {
    position: relative;
    bottom: 2px;
    cursor: pointer;
}

#dark button.log-in-with-google {
    background-color: var(--dark-button);
}

.log-in-container {
    height: calc(100vh - 100px);
    /* background-color: #f1ffff; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-out-button {
    cursor: pointer;
}

.message-card-container {
    /* width: fit-content; */
    background-color: #bef7f5;
    padding: 25px;
    border: 2px solid rgb(187, 187, 187);
    border-radius: 10px;
    /* width: 600px; */
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* @media only screen and (max-width: 600px) {
    .message-and-comment-card-container {
        width: 80vwpx;
    }
}

@media only screen and (max-width: 480px) {
    .message-card-container {
        width: 70vw;
    } */
/* } */

.message-and-comment-container  {
    width: 600px;
}

@media only screen and (max-width: 768px) {
    .message-and-comment-container {
        width: 90vw;
    }
}

#dark .message-and-comment-container p, #dark .message-and-comment-container svg {
    color: var(--white-for-darkmode);
}

#dark .message-card-container {
    background-color: var(--dark-bg);
    border: 1px solid rgb(97, 97, 97);
}

.all-message-container {
    /* background-color: red; */
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.new-post-form {
    width: 650px;
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

.main-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-post-form > input.text-input {
    width: 500px;
    line-height: 2.2rem;
    padding: 6px;
    padding-left: 2ch;
    font-size: 1.1rem;
    border-radius: 8px;
    border: 1px solid lightslategray;
}

#dark .new-post-form > input.text-input {
    background-color: var(--dark-input);
    color: var(--white-for-darkmode);
}

@media only screen and (max-width: 480px) {
    .new-post-form {
        width: 70vw;
    }
}

@media only screen and (max-width: 768px) {
    .new-post-form {
        width: 80vw;
    }
}

.new-post-form > input[type="submit"] {
    flex: 1;
    border-radius: 8px;
    border: 0;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1.1rem;
    color: white;
    background-color: #085857
}

@media only screen and (max-width: 768px) {
    .new-post-form > input[type="submit"] {
        font-size: 0.9rem;
    }
}

p.display-name {
    font-weight: 600;
}

.top-row {
    display: flex;
    justify-content: space-between;
}

.top-row > p {
    margin: 0;
}

.message-card-container p {
    margin: 0;
}

p.message {
    line-height: 1.5rem;
    font-size: 1.2rem;
}

.bottom-row {
    display: flex;
    align-items: center;
    gap: 5px;
}

.comments-container {
    /* border: 1px solid red; */
    background-color: #d6d6d6;
    border-radius: 10px;
    padding: 5px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* height: 0; */
}

#dark .comments-container {
    color: var(--white-for-darkmode);
    background-color: var(--dark-bg);
    border: 1px solid darkgrey;
}

.comments-container > ul {
    line-height: 1.4rem;
    list-style-type: "→";
    padding-left: 25px;
}

button.hide-show {
    width: fit-content;
    border: 0;
    background: #007775;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    padding: 8px;
    margin-left: auto;
    letter-spacing: 1px;
}

#dark button.hide-show {
    background-color: var(--dark-button);
}

span.comment-author {
    font-weight: 600;
}

input.send-comment {
    background-color: #085857;
    color: var(--white-for-darkmode);
    border-radius: 5px;
    border: 0;
    padding: 8px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 0.8rem;
}

form.comment {
    display: flex;
    gap: 30px
}

input#comment {
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.1rem;
}

#dark input#comment {
    background-color: var(--dark-input);
    color: var(--white-for-darkmode);
}

.router-link {
    color: black;
    text-decoration: none;
}

.my-messages-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.my-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

#dark .my-profile-container {
    color: var(--white-for-darkmode);
}

.delete-post-container {
    display: flex;
    justify-content: end;
}

button.delete-post {
    background-color: #085857;
    color: var(--white-for-darkmode);
    border: 0;
    padding: 6px 8px;
    padding: 5px 8px;
    border-radius: 5px;
    font-weight: 800;
}

#dark {
    min-height: 100vh;
}