* {
    font-family: sans-serif;
}

body {
    margin: 0;
}

nav > h1 {
    margin: 0;
}

nav {
    background-color: #20b2aa;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 25vw;
}

button.log-in-with-google {
    padding: 30px;
    font-size: 1.3rem;
    border-radius: 12px;
    border: 0;
    background-color: #116966;
    color: white;
    font-weight: 800;
    box-shadow: 1px 3px 15px rgb(0 0 0 / 0.5);
}

button.log-in-with-google:hover {
    position: relative;
    bottom: 2px;
    cursor: pointer;
}

.log-in-container {
    height: calc(100vh - 100px);
    background-color: #f1ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}