* {
    font-family: sans-serif;
}

body {
    margin: 0;
}

nav > h1 {
    margin: 0;
    font-size: 1rem;
}

nav {
    background-color: #20b2aa;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
}

nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 25vw;
}

@media only screen and (max-width: 480px) {
    nav > ul {
        width: 70vw;
    }
} 

@media only screen and (max-width: 768px) {
    nav > ul {
        width: 50vw;
    }
} 

button.log-in-with-google {
    padding: 30px;
    font-size: 1.3rem;
    border-radius: 12px;
    border: 0;
    background-color: #116966;
    color: white;
    font-weight: 800;
    box-shadow: 1px 3px 15px rgb(0 0 0 / 0.5);
}

button.log-in-with-google:hover {
    position: relative;
    bottom: 2px;
    cursor: pointer;
}

.log-in-container {
    height: calc(100vh - 100px);
    background-color: #f1ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-out-button {
    cursor: pointer;
}

.message-card-container {
    width: fit-content;
    background-color: #bef7f5;
    padding: 25px;
    border: 2px solid rgb(187, 187, 187);
    border-radius: 10px;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

@media only screen and (max-width: 600px) {
    .message-card-container {
        width: 400px;
    }
}

@media only screen and (max-width: 480px) {
    .message-card-container {
        width: 80vw;
    }
}

.all-message-container {
    /* background-color: red; */
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.new-post-form {
    width: 650px;
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

.main-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-post-form > input.text-input {
    width: 500px;
    line-height: 2.2rem;
    padding: 6px;
    padding-left: 2ch;
    font-size: 1.1rem;
    border-radius: 8px;
    border: 1px solid lightslategray;
    
}

@media only screen and (max-width: 480px) {
    .new-post-form {
        width: 70vw;
    }
}

@media only screen and (max-width: 768px) {
    .new-post-form {
        width: 80vw;
    }
}

.new-post-form > input[type="submit"] {
    flex: 1;
    border-radius: 8px;
    border: 0;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1.1rem;
    color: white;
    background-color: #085857
}

@media only screen and (max-width: 768px) {
    .new-post-form > input[type="submit"] {
        font-size: 0.9rem;
    }
}

p.display-name {
    font-weight: 600;
}

.top-row {
    display: flex;
    justify-content: space-between;
}

.top-row > p {
    margin: 0;
}

.message-card-container p {
    margin: 0;
}

p.message {
    line-height: 1.5rem;
    font-size: 1.2rem;
}

.bottom-row {
    display: flex;
    align-items: center;
    gap: 5px;
}

.comments-container {
    /* border: 1px solid red; */
    background-color: #d6d6d6;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* height: 0; */
}

.comments-container > ul {
    line-height: 1.4rem;
    list-style-type: "→";
}

button.hide-show {
    width: fit-content;
    border: 0;
    background: #007775;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    padding: 8px;
    margin-left: auto;
}

span.comment-author {
    font-weight: 600;
}

input.send-comment {
    background-color: #085857;
    color: white;
    border-radius: 5px;
    border: 0;
    padding: 8px;
    font-weight: 800;
    font-size: 0.8rem;
}

form.comment {
    display: flex;
    gap: 30px
}

input#comment {
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.1rem;
}

.router-link {
    color: black;
    text-decoration: none;
}

.my-messages-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.my-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}